<table ng-table="$ctrl.tableParams" 
       show-filter="true"
       class="table table-condensed table-bordered"
>
    <tr ng-repeat="user in $data">
        <td data-title="'姓名'" hander-class="'text-right'" sortable="'name'" filter="{'realName':'text'}">
            {{user.realName}}
        </td>
        <td data-title="'职位'" hander-class="'text-right" sortable="'title'" filter="{'title':'text'}">
            {{user.title}}
        </td>
        <td data-title="'地址'" hander-class="'text-right" sortable="'address'" filter="{'address':'text'}">
            {{user.address}}
        </td>
        <td data-title="'电话'" hander-class="'text-right" sortable="'phone'" filter="{'phone':'text'}">
            {{user.phone}}
        </td>
        <td data-title="'邮箱'" hander-class="'text-right" sortable="'email'" filter="{'email':'text'}">
            {{user.email}}
        </td>
        <td data-title="'QQ'" hander-class="'text-right" sortable="'QQ'" filter="{'QQ':'text'}">
            {{user.QQ}}
        </td>
    </tr>
</table>